* {
    box-sizing: border-box;
    background-color: rgb(244, 245, 238);
}

.headline-section {
    font-family: Syne,sans-serif;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headline-img {
    height: 199px;
    width: 350px;
    cursor: pointer;
    padding-top: 30px;
}

.menu {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 110px;

}

#menu-bar {
    display: inline-block;
    margin: 31px;
    margin-top: 58px;
}

.nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav li {
    list-style: none;
    padding: 10px;
    margin-right: 5px;
    display: inline-block;
    letter-spacing: 0;
}

.nav li a {
    color: rgb(152,121,59);
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg, #menu {
    top: 0;
    left: 0;
    position: relative;
}

.change {
    display: grid;
}

.change .bar {
    background-color: #FFFFFF;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.slider-container {
    position: relative;
    height: 200px;
    width: 1110px;
    overflow: hidden;
    margin: 0 auto;
}

.slider {
    position: absolute;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    animation: slide 10s linear infinite; /* Add animation properties */
}

.slider img {
    width: 600px; /* Set the width of each image to match the container */
    height: 300px; /* Set the height of each image to match the container */
    object-fit: cover;
    z-index: -1;
}

@keyframes slide {
    0% {
        transform: translateX(0); /* Start at 0% */
    }
    20% {
        transform: translateX(0); /* Hold for 20% of the animation */
    }
    25% {
        transform: translateX(-600px); /* Slide left to reveal the next image */
    }
    95% {
        transform: translateX(-600px); /* Hold for 75% of the animation */
    }
    100% {
        transform: translateX(0); /* Loop back to the first image */
    }
}

.body-section {
    font-family: Calibri, sans-serif;
    color: rgb(152,121,59);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.body-section h2 {
    font-size: 40px;
    letter-spacing: 1rem;
    color: rgb(117,67,25);
}

.body-img {
    width: 510px;
    height:334px;
    display: inline-block;
    margin: 0 auto;
}

.about-me {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    justify-content: left;
    align-items: center;
    text-align: left;
    word-wrap: break-word;
    box-sizing: border-box;
}

.about-me-container {
    height: 100%;
    width: 100%;
    text-align: center;
    max-width: 600px;
    overflow: hidden;
    justify-content: center;
    font-family: Calibri, sans-serif;
    color: rgb(152,121,59);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-right: 10px;

}

.oferta {

}

.r-1 {

}

.r-2 {

}

.r-3 {

}

.neony {

}

.jak-pracujemy {

}

.footer-section {
    font-family: Calibri, sans-serif;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(117,67,25);
    font-size: 30px;
    letter-spacing: 1rem;

}

.contact {

}