* {
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.headline-section {
    font-family: Calibri, sans-serif;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    display: inline-flex;
    align-items: center;
}

.body-img {
    width: 450px;
    height:600px;
}

#menu-bar {
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: inline-block;
    margin: 31px;
    margin-top: 58px;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    transition: 0.3s ease;
    display: block;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;

}

.nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav li {
    list-style: none;
    padding: 10px;
    margin-right: 40px;
    display: inline-block;
}

.nav li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg, #menu {
    top: 0;
    left: 0;
    position: relative;
}

.change {
    display: grid;
}

.change .bar {
    background-color: #000000;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.slider {

}

.body-section {
    font-family: Calibri, sans-serif;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.body-headline {

}

.r-1 {

}

.r-2 {

}

.r-3 {

}

.rental {

}

.neon {

}

.footer-section {
    font-family: Calibri, sans-serif;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.contact {

}